
<h1>Add Myth</h1>
<div class="container">
    <form>
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" required><br>
        
        <label for="origin">Origin</label><br>
        <input type="text" id="origin" name="origin" required><br>
        
        <label for="timeline">Timeline</label><br>
        <input type="text" id="timeline" name="timeline" required><br>
        
        <label for="description">Description</label><br>
        <textarea id="description" name="description" rows="4" required></textarea><br>
        
        <label for="image">Image URL</label><br>
        <input type="text" id="image" name="image" required><br><br>
        
        <button type="submit">Add Myth</button>
    </form>
</div>