<body class="form-v9">
	<div class="page-content">
		<div class="form-v9-content" style="background-image: url(../../../assets/images/dragon-right.jpg)">
			<form class="form-detail" [formGroup]="form" (ngSubmit)="register()">
				<h2>Register</h2>
				<div class="form-row-total">
					<div class="form-row">
						<input type="text" name="full-name" id="full-name" class="input-text" placeholder="Your Username" formControlName="username" required>
					</div>
					<div class="form-row">
						<input type="text" name="your-email" id="your-email" class="input-text" formControlName="email" placeholder="Your Email" required formControlName="email">
						<ng-container *ngIf="form.get('email')?.touched">
							<p class="error" *ngIf="form.get('email')?.errors?.['required']">
								Email is required!
							</p>
							<p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">
								Email is not valid!
							</p>
						</ng-container>
						
					</div>
				</div>
				<div class="form-row-total">
					<ng-container formGroupName="passwordGroup">
						
						<div class="form-row">
							<input type="password" name="password" id="password" class="input-text" formControlName="password" placeholder="Your Password" required>
						</div>
						<div class="form-row">
							<input type="password" name="comfirm-password" id="comfirm-password" class="input-text"  formControlName="confirmPassword" placeholder="Comfirm Password" required>
						</div>
						<ng-container *ngIf="passwordGroup?.get('confirmPassword')?.touched">
							<p class="error-pass" *ngIf="passwordGroup?.errors?.['matchPasswords'] ||
							passwordGroup?.get('confirmPassword')?.errors?.['required']">
								Passwords do not match!
							</p>
						</ng-container>
					</ng-container>
				</div>
				<div class="form-row-last">
					<input type="submit" name="form-btn" class="form-btn" value="Register">
				</div>
			</form>
		</div>
	</div>
</body>
