<div class="row">
  <div class="col">
    <h1>Mithify</h1>
    <p> Immerse yourself in the rich tapestry of folklore and legends that have shaped cultures throughout history.
        At Mythify, our curated collection of myths offers a glimpse into the timeless wisdom and imagination of ancient civilizations.
    </p>

    <button type="button" routerLink="/myths/all">Explore</button>
  </div>
  <div class="col">
    <div [routerLink]="'/myths/' + myth._id + '/details'" *ngFor="let myth of myths" class="card" [style.background-image]="'url(' + myth.image + ')'">
      <h5>{{ myth.title }}</h5>
  </div>
  
  </div>
</div>