
.app-component {
    width: 100vw;
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0,0,0,0.7), 
    rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1599833975787-5c143f373c30?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Add this line to prevent scrollbar */
}