<div class="navbar">
    <nav>
        <ul>
            <div class="center-links">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/myths/all">All</a></li>
                <li><a routerLink="/myths/create">Add Myth</a></li>
                <li><a routerLink="/myths/edit">Edit Myth</a></li>
                <li><a href="#">About</a></li>
            </div>
            <div class="account-links">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
                <li><a routerLink="/logout">Logout</a></li>
            </div>
        </ul>
    </nav>
</div>
