<div [ngClass]="alignmentClass" class="details-container">
    <div class="text-container">
        <h2>{{ myth.title }}</h2>
        <div class="details">   
            <p><strong>Origin:</strong> {{ myth.origin }}</p>
            <p>{{ myth.description }}</p>
        </div>
        <div class="buttons">
            <div *ngIf="!isOwner">
                <button class="btn-like">Like</button>
            </div>
            <button class="btn-delete">Delete</button>
            <button [routerLink]="'/myths/' + myth._id + '/edit'" class="btn-edit">Edit</button>
        </div>
        <div class="likes-count"> {{ myth.favoriteList?.length || 0 }}</div>

    </div>
    <div class="image-container">
        <img [src]="myth.image" alt="Myth Image">
    </div>
</div>
