<div [ngClass]="alignmentClass" class="details-container">
    <div class="text-container">
        <h2>{{ myth.title }}</h2>
        <div class="details">   
            <p><strong>Origin:</strong> {{ myth.origin }}</p>
            <p>{{ myth.description }}</p>
        </div>
        <div class="buttons">
            <div *ngIf="!isOwner">
                <div *ngIf="hasLiked">     
                    <button (click)="dislike(myth._id)" class="btn-like">Dislike</button>
                </div>
                <div *ngIf="!hasLiked">
                    <button class="btn-like" (click)="like(myth._id)" >Like</button>
     
                </div>
            </div>
            <div *ngIf="isOwner">
                <button (click)="delete(myth._id)"class="btn-delete">Delete</button>
                <button [routerLink]="'/myths/' + myth._id + '/edit'" class="btn-edit">Edit</button>
            </div>
        </div>
        <div [@likeAnimation]="liked ? 'liked' : 'disliked'" class="likes-count"> {{ likesCount }}</div>

    </div>
    <div class="image-container">
        <img [src]="myth.image" alt="Myth Image">
    </div>
</div>
