.details-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 320px;
}

.align-left .text-container {
    order: 2;
    width: 100%;
}

.align-left .image-container {
    order: 1;
    margin-left: 400px;
}

.align-right .text-container {
    order: 1;
}

.align-right .image-container {
    order: 2; 
}

.text-container {
    position: relative;
    flex-grow: 1;
    max-width: 500px;
    height: auto;
    color: white;
    border: 3px solid red;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 100px; 
    font-size: 19px;
}

.text-container h2, p {
    text-align: center;
}

.text-container .buttons {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.image-container {
    flex: 1;
    padding: 10px;
    max-width: 1000px;
    max-height: 1000px;
    border-radius: 5px;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

.image-container img {
    max-height: 500px;
    max-width: 700px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 5px;
}

.btn-like, .btn-edit, .btn-delete {
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    height: 40px;
    width: auto;
    background-color:white;
    color: rgba(0, 0, 0, 0.767);
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    bottom: 0;
}

.btn-like:hover, .btn-edit:hover, .btn-delete:hover {
    background-color: rgba(255, 255, 255, 0.253);
    transition: 0.2s;
    transform: scale(1.2);
    color:azure
}

.buttons{
    position: bottom;
    text-align: center;
}

.likes-count {
    text-align: center;
    color: red;
    font-size: 50px;
}
  
  .likes-count::before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  